.articles {
    text-align: center;
    padding-top: 30px;
}

.articles__title {
    font-size: 30px;
    text-align: center;
    color: #333333;
    border-bottom: 3px solid red;
    display: inline;
    font-family: monospace;
}

.articles__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
}

.article {
    width: 25%;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.article__filter {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.article__name {
    color: rgba(5, 20, 226, 0.644);
    z-index: 1;
    position: relative;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
}

.article:hover .article__icon {
    transform: translateY(0);
}

.article__icon {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgba(255, 0, 0, 0.877);
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}